<div class="container-lg text-center mt-5">
    <div class="weather-info-double p-5 rounded shadow-lg" style="background-color: #f0f0f0;">
        <h1 class="display-4 mb-4 text-dark">Scopri le Condizioni Meteo Ovunque</h1>
        <p class="lead text-dark">Dalle piogge torrenziali ai cieli tersi, esplora le previsioni meteo per qualsiasi luogo del mondo. Digita il nome della città nel campo di ricerca e preparati a viaggiare attraverso le condizioni atmosferiche di diverse località.</p>
    </div>
</div>
