.button-group button {
    background-color: #ffffff;
    border: 1px solid #ced4da;
    color: #495057;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-left: auto;
  }
  
  .button-group button.active {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
    margin-left: 10px;
  }

  