<div class="container text-center mt-5">
    <div class="container text-center py-5 bg-primary text-light rounded">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="display-4 mb-4"><strong>Esplora le Condizioni Meteo</strong></h1>
                <h2 class="mb-4">Situazione Meteo Attuale</h2>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="input-group mb-4">
                            <input type="text" #newqueryInput class="form-control" placeholder="Metti il nome città">
                            <div class="input-group-append">
                                <button (click)="submit(newqueryInput)" class="btn btn-light btn-outline-light btn-sm py-0" style="margin-top:2px; height: 45px;" >Cerca</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <label for="listaLing" class="form-label small">Scegli la lingua:</label>
                        <select class="form-select form-select-sm" id="listaLing" name="listaLing" style="width: 50%;" [(ngModel)]="lingua" (change)="updateLanguage(lingua)">
                            <option value="it">Italiano</option>
                            <option value="en">Inglese</option>
                            <option value="fr">Francese</option>
                            <option value="es">Spagnolo</option>
                            <option value="de">Tedesco</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-3" style="margin-top: 10px;"> <!-- Aggiunta del margine superiore -->
        <div class="col-md-6">
            <button class="btn btn-primary btn-sm" (click)="convertToCelsius()">Celsius</button>
            <button class="btn btn-primary btn-sm ml-2" (click)="convertToFahrenheit()">Fahrenheit</button>
        </div>
    </div>

    <div *ngIf="results" class="container  mb-5"> <!-- Aggiunta della classe mb-5 per il margine inferiore -->
        <div class="card shadow-sm">
            <div class="card-header bg-info text-light">
                <h3 class="card-title mb-0">Condizioni Meteo a {{ results.name }} ({{ results.sys.country }})</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td><strong>Condizioni Meteo:</strong></td>
                                <td>{{ results.weather[0].description }}</td>
                            </tr>
                            <tr>
                                <td><strong>Temperatura:</strong></td>
                                <td>{{ results.main.temp }} °C</td>
                            </tr>
                            <tr>
                                <td><strong>Temperatura Percepita:</strong></td>
                                <td>{{ results.main.feels_like }} °C</td>
                            </tr>
                            <tr>
                                <td><strong>Temperatura Minima:</strong></td>
                                <td>{{ results.main.temp_min }} °C</td>
                            </tr>
                            <tr>
                                <td><strong>Temperatura Massima:</strong></td>
                                <td>{{ results.main.temp_max }} °C</td>
                            </tr>
                            <tr>
                                <td><strong>Umidità:</strong></td>
                                <td>{{ results.main.humidity }} %</td>
                            </tr>
                            <tr>
                                <td><strong>Pressione:</strong></td>
                                <td>{{ results.main.pressure }} hPa</td>
                            </tr>
                            <tr>
                                <td><strong>Velocità del Vento:</strong></td>
                                <td>{{ results.wind.speed }} m/s</td>
                            </tr>
                            <tr>
                                <td><strong>Direzione del Vento:</strong></td>
                                <td>{{ results.wind.deg }}°</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <img src="http://openweathermap.org/img/wn/{{ results.weather[0].icon }}.png" alt="Icona Meteo" class="img-fluid mt-3 w-25 mx-auto d-block">
            </div>
        </div>
    </div>
</div>
